# Configuration file

"difficulty of the mod" {
    # Is Hardcore Mode enabled?
    B:Hardcore=false
}


"enable/disable crafting recipes" {
    # Enabled the crafting recipe of the DiamondHorseArmor.
    B:DiamondHorseArmorRecipe=true

    # Enabled the crafting recipe of the GoldHorseArmor.
    B:GoldHorseArmorRecipe=true

    # Enabled the crafting recipe of the IronHorseArmor.
    B:IronHorseArmorRecipe=true

    # Enabled the crafting recipe of the Lead.
    B:LeadRecipe=true

    # Enabled the crafting recipe of the NameTag.
    B:NameTagRecipe=true

    # Enabled the crafting recipe of the Saddle.
    B:SaddleRecipe=true
}


"general configuration" {
    # Will check the mod's version and will notity you if there are a new version of the mod.
    B:CheckVersion=false
}


